
#drum-machine{
  width: 600px;
  height: 200px;
  display: block;
  padding: 10px;
  justify-content: space-between;
  border: 4px solid #0BDEB4B8;
  position: relative;
  background-color: lightgrey;
  margin:  50% auto;
}
.drum-pad{
  width: 60px;
  margin: 9px;
  outline: none;
  box-sizing: border-box;
  float: left;
  box-shadow: 3px 2px 6px 4px;
  position: relative;
  font-size: 30px;
  background-color: #DE600BAB;
  font-family: roboto;
}
.buttons{
  display: block;
  width:50%;
  margin: 10px;
  font-weight: bolder;
}

.tools{
  width: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
#display{
 height: 30px;
 width: 150px;
 border: 1px solid grey;
 background-color:whitesmoke;
 display: flex;
 justify-content: center;
 align-items:center;
 color: #0C1CCD;
}
.toggler{
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #62535E;
  background-color: whitesmoke;
  border-radius: 3px;
  margin: 10px; 
}
.switch{
  width: 20px;
  height: 15px;
  position: relative;
  background-color: #3C3239;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 1px;
  margin: 1px;
  transition: .5s;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 200px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

@media screen and (max-width: 720px){
  #drum-machine{
  height: 500px;
  width: 265px;
  display:block;
  }
  .buttons {
    width: 100%;
  }
  .tools {
    width: 80%;
    display: grid;
  }
  
};