#drum-machine{
  width: 60vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 3px solid #02FF2694;
}
.drum-pad{
  width: 80px;
  height: 80px;
  margin: 5px;
  outline: none;
}
.buttons{
  display: inline-block;
  width: 50%;
  border: 1px solid lightgrey;
  margin: 10px;
  font-weight: bolder;
  font-size: 30px;
  font-family: roboto;
}

.tools{
  width: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  margin: 10px;
}
#display{
 height: 40px;
 width: 100px;
 border: 1px solid lightgrey;
  
}
.toggler{
  width: 50px;
  height: 20px;
  border: 2px solid #FF6B0294;
  background-color: lightgrey;
  border-radius: 2px;
}
.switch{
  width: 24px;
  height: 19px;
  position: relative;
  background-color: #8D0808C2;
  border-radius: 2px;
}